#root {
  position: relative;
  min-height: 100vh;
  bottom: 0;
  padding-bottom: 150px;
  padding-top: 100px;
}

body {
  font-family: 'Courier Prime', monospace !important;
  background-image: linear-gradient(#85e3fd, #e7a7c3);
  background-attachment: fixed;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 60pt !important;
  margin-bottom: 30px !important;
  font-family: 'Press Start 2P', cursive;
  word-break: break-word;
}

h2 {
  font-size: 30pt !important;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 20px !important;
}

h3 {
  font-size: 50pt !important;
  font-weight: 700 !important;
}

h6 {
  font-size: 34pt !important;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.h7 {
  font-size: 26pt !important;
}

.h8 {
  font-size: 16pt !important;
  font-style: italic; /* design spec doesnt have this */
}

.h9 {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 10px !important;
  font-size: 16pt !important;
}

p {
  font-size: 16pt !important;
}

:focus {
  outline: none !important;
}

.section {
  margin: 50px 10%;
  padding: 30px 60px;
  justify-content: center;
  align-items: center;
  border-radius: 120px;
}

.section a {
  color: #FF009C;
}

.section a:hover {
  color: #00CCF0;
}

.width-80 {
  margin: 0 10% 100px 10%;
}

.centre-text {
  text-align: center;
  margin-top: 2rem;
}

.left-text {
  text-align: left;
  margin-top: 2rem;
}

.right-text {
  text-align: right;
  margin-left: auto;
}

.gap-div {
  height: 4rem;
}

.btn {
  border-radius: 20px !important;
  line-height: 15px !important;
  padding: 10px 15px !important;
  position: relative;
  transition: none !important;
  min-width: 80px;
}

.btn:hover {
  top: 5px;
  box-shadow: 0px 0px #fff !important;
  transition: none;
}

.blueShadow {
  box-shadow: 0 5px  #00C7FF;
}

.pinkShadow {
  box-shadow: 0 5px #FF009C;
}

.pinkBorder {
  border: 4px solid #FF009C !important;
}

.thinBorder {
  border-width: 1px !important;
}

.pinkFill {
  background-color: #FF009C !important;
  font-weight: 700 !important;
  padding: 10px;
}

.blueFill {
  border: 0px #00C7FF solid !important;
  background-color: #00C7FF !important;
  font-weight: 400 !important;
  padding: 10px;
}

.darkFill {
  background-color: #000 !important;
}

.greyFill {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.noFill {
  background-color: rgba(0, 0, 0, 0) !important;
}

.pinkText {
  color: #FF009C !important;
}

.whiteText {
  color: #fff !important;
}

.darkText {
  color: #000 !important;
}

.Menu a {
  color: #FFF;
  line-height: 40px;
  vertical-align: middle;
}

.Menu a:hover {
  color: #FF009C;
}

nav {
  align-items: right;
  text-align: right !important;
  background-color: #000 !important;
}

.nav-item {
  padding: 10px;
  vertical-align: middle !important;
  line-height: 40px;
}

.nav-tabs .nav-link {
  background-color: #000;
}

.navbar-toggler {
  margin-left: auto;
  border-color: #FF009C !important;
  border-radius: 0 !important;
  line-height: 40px;
  padding: 7px 18px !important;
  color: #FF009C !important;
}

.navbar-toggler:hover {
  color: #00C7FF !important;
}

.logo {
  height: 100px;
}

.login-box {
  max-width: 45%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.signup-box {
  max-width: 80%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border-radius: 0px;
}

.form-control {
  border: 1px solid #00C7FF !important;
  border-radius: 50px !important;
  background-color: #000 !important;
  color: #fff !important;
}

.form-label {
  margin-bottom: 0;
  color: #FF009C;
}

#BigHeader {
  align-items: center;
  justify-content: center;
}

#SmallHeader {
  font-size: 30pt;
  padding-top: 0;
}

.header {
  display: flex;
  flex-direction: column;
}

.card-group {
  justify-content: center !important;
}

.card {
  min-width: 340px !important;
  max-width: 380px !important;
  min-height: 10rem;
  margin: 1rem;
  border-radius: 80px !important;
  padding: 2rem;
}

/* .linkCard:hover {
  top: 5px;
  left: 5px;
  box-shadow: 0px 0px #fff !important;
  transition: none;
} */

.card-body .card-title {
  margin-top: 0;
  font-size: 24pt;
}

.cardImg {
  border-radius: 60px !important;
}

.card-subtitle {
  
}

.spaceTop {
  margin-top: 1rem !important;
}

.modalImg {
  width: 80%;
  max-width: 300px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.modal-dialog {
  max-width: 1200px !important;
  min-width: 250px !important;
}

.modal-content {
  border-radius: 80px !important;
  background-color: #000 !important;
  border: 1px solid #FF009C !important;
}

.modal-body {
  border-radius: 80px !important;
  padding: 3% !important;
}

.modal-header {
  margin: 0;
  height: 20px;
  padding: 0 !important;
  border: 0px solid #000 !important;
}

.close {
  color: #FF009C !important;
  font-size: 50pt !important;
  font-weight: 400 !important;
  text-shadow: none !important;
  padding: 40px !important;
  opacity: 1 !important;
  z-index: 100;
}

.close:hover {
  color: #00C7FF !important;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  padding: 20px 8vw;
}

.Footer a {
  color: #FFF;
}

.Footer a:hover {
  color: #FF009C;
}

.Footer .copyright {
  display: block;
  width: 70%;
  float: left;
  color: #fff;
}

.Footer .to-top {
  display: block;
  width: 30%;
  float: right;
  text-align: right;
}
