a {
  text-decoration: none !important;
}

.centre-text {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.content {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content a {
  color: #fff;
}

.content a:hover {
  color: #fd79a8;
}

.left-text {
  text-align: left;
  width: 80%;
}

.Menu a {
  color: #fff;
  text-align: right !important;
}

.Menu a:hover {
  color: #fd79a8;
}

.navbar {
  align-items: right;
  text-align: right !important;
}

.sosBtn a {
  background-color: #fd79a8;
  color: #343a40!important;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.sosBtn a:hover {
  background-color: #fff;
  color: #fd79a8 !important;
  font-weight: bold;
  border: 1px solid #fd79a8;
  border-radius: 5px;
  padding: 10px;
}

.highlightNav a {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.highlightNav a:hover {
  border: 1px solid #fd79a8;
  border-radius: 5px;
  padding: 10px;
}

.nav-item {
  padding: 10px;
}

.Menu .navbar-collapse {
  margin-top: 20px;
  margin-left: auto;
  align-items: right;
  text-align: right !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.BigHeader {
  background-color: #343a40;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SmallHeader {
  background-color: #343a40;
  min-height: 140px;
  display: flex;
  flex-direction: column;
}

.SmallHeader h1 {
  color: #fd79a8;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
}

.BigHeader h1 {
  font-size: calc(6vw + 20pt);
  color: #fd79a8;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

.BigHeader p {
  font-size: calc(1vw + 10pt);
  margin-top: 60px;
  color: #fff;
}

.card-group {
  justify-content: center;
}

.card {
  width: 25vw;
  min-width: 260px !important;
  height: 12rem;
  margin: 10px;
  border-radius: 0.5rem !important;
}

.card-body .card-title {
  margin-top: 3rem;
  margin-bottom: auto;
  color: #fd79a8;
  font-size: 2rem;
}

