@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:wght@400;900');

a {
  text-decoration: none !important;
}

body {
  font-family: 'Roboto Mono', monospace !important;
}

:focus {
  outline: none !important;
}

.content {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content a {
  color: #FF0A91;
}

.content a:hover {
  color: #00CCF0;
}

.centre-text {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.left-text {
  text-align: left;
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.right-text {
  text-align: right;
  margin-left: auto;
}

.gap-div {
  height: 4rem;
}

.btn {
  border-radius: 0 !important;
  line-height: 15px !important;
  padding: 10px !important;
  position: relative;
  transition: none !important;
}

.btn:hover {
  top: 5px;
  left: 5px;
  box-shadow: 0px 0px #fff !important;
  transition: none;
}

.blueShadow {
  box-shadow: 5px 5px  #00CCF0 !important;
}

.pinkShadow {
  box-shadow: 5px 5px #FF0A91 !important;
}

.pinkText {
  color: #FF0A91;
}

.whiteText {
  color: #fff;
}

.dark {
  background-color: #27292B !important;
}

.Menu a {
  color: #FF0A91;
  text-align: right !important;
  line-height: 40px;
  vertical-align: middle;
}

.Menu a:hover {
  color: #00CCF0;
}

nav {
  align-items: right;
  text-align: right !important;
  background-color: #27292B !important;
}

.pinkFill {
  background-color: #FF0A91 !important;
  color: #27292B !important;
  font-weight: bolder !important;
  padding: 10px;
}

.blueOutline {
  border: 0px #00CCF0 solid !important;
  background-color: #00CCF0 !important;
  color: #27292B !important;
  font-weight: normal !important;
  padding: 10px;
}

.nav-item {
  padding: 10px;
  vertical-align: middle !important;
  line-height: 40px;
}

.nav-tabs .nav-link {
  background-color: #27292B;
}

.navbar-toggler {
  margin-left: auto;
  border-color: #27292B !important;
  border-radius: 0 !important;
  line-height: 40px;
  padding: 7px 18px !important;
  color: #FF0A91 !important;
}

.navbar-toggler:hover {
  color: #00CCF0 !important;
}

.login-box {
  max-width: 35%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border: 1px solid #FF0A91;
  padding: 2rem;
  color: #fff;
}

.signup-box {
  max-width: 60%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid #FF0A91;
  border-radius: 0px;
  color: #fff;
}

.form-control {
  border: 1px solid #00CCF0 !important;
  border-radius: 50px !important;
  background-color: #27292B !important;
  color: #fff !important;
}

.form-label {
  margin-bottom: 0;
  color: #FF0A91;
}

.BigHeader {
  background-color: #27292B;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SmallHeader {
  background-color: #27292B;
  min-height: 140px;
  display: flex;
  flex-direction: column;
}

.SmallHeader h1 {
  color: #FF0A91;
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
  margin-top: 6rem;
}

.BigHeader h1 {
  font-size: calc(6vw + 2rem);
  color: #FF0A91;
  font-weight: bold;
  text-align: center;
  margin-top: 8rem;
}

.BigHeader p {
  font-size: calc(1vw + 1rem);
  margin-top: 60px;
  color: #fff;
}

.SectionHeader {
  background-color: #27292B;
  padding: 4rem 0 1rem 0;
}

.SectionHeader h2 {
  font-weight: bold;
  font-size: calc(2vw + 2rem);
  color: #FF0A91;
}

.SectionHeader p {
  font-size: calc(1vw + 1rem);
  margin-top: 2rem;
}

.card-group {
  justify-content: center !important;
}

.card {
  width: 22vw;
  min-width: 240px !important;
  max-width: 400px !important;
  min-height: 10rem;
  margin: 1rem;
  border-radius: 0 !important;
  padding: 2rem 0.5rem;
  background-color: #27292B !important;
}

.linkCard:hover {
  top: 5px;
  left: 5px;
  box-shadow: 0px 0px #fff !important;
  transition: none;
}

.card-body .card-title {
  margin-top: 0;
  color: #FF0A91;
  font-size: 2rem;
}

.spaceTop {
  margin-top: 1rem;
}

.modalImg {
  width: 60%;
  display: inline;
  margin: 0 20% 3% 20%;
  border-radius: 5px;
}

.modal-dialog {
  max-width: 800px !important;
  min-width: 250px !important;
}

.modal-content {
  box-shadow: 5px 5px #FF0A91;
  border-radius: 0 !important;
  border: 0px solid #fff !important;
}

.modal-header {
  border-bottom: 1px solid #FF0A91 !important;
  border-radius: 0 !important;
}

.modal-backdrop.show {
  opacity: 0.8 !important;
}

.close {
  color: #FF0A91 !important;
  font-size: 2rem !important;
  font-weight: normal !important;
  text-shadow: none !important;
  opacity: 1 !important;
}

.close:hover {
  color: #00CCF0 !important;
}

.Footer {
  background-color: #27292B;
  display: block;
  padding: 3rem 8vw 4rem 8vw;
  margin-top: 8rem;
}

.Footer .copyright {
  display: block;
  width: 70%;
  float: left;
  color: #fff;
}

.Footer .to-top {
  display: block;
  width: 30%;
  float: right;
  text-align: right;
}
